.auth-container {
  width: 50%;
  max-width: 600px;
  margin: 205px auto;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.input-group {
  margin-bottom: 5px;
}

.input-group label {
  margin-top: 20px;
  display: block;
  margin-bottom: 1px;
}

.input-group input {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.center {
  justify-content: center;
  display: flex;
}

.save-button {
  width: 95%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.input-group input::placeholder {
  color: #c2bfbf;
}

button:hover {
  background-color: #0056b3;
}

.consent-text {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 20px;
}

.auth-container p {
  text-align: center;
  margin-top: 20px;
}

.auth-container a {
  color: #5cb85c;
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
}

.error-message {
  color: #d9534f;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .auth-container {
    width: 70%;
  }
  .eye-icon {
    display: none;
  }
}

@media (max-width: 425px) {
  .auth-container {
    width: 70%;
  }
  .eye-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .auth-container {
    width: 70%;
  }
  .eye-icon {
    display: none;
  }
}

@media (max-width: 1024px) {
  .auth-container {
    width: 80%;
  }
  .eye-icon {
    left: 90px;
  }
}
