.auth-container {
  width: 50%;
  max-width: 600px;
  margin: 260px auto;
  padding: 15px;
  background-color: #ffffff; /* Белый цвет формы */
  border-radius: 10px; /* Скругленные углы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  margin-top: 20px;
  display: block;
  margin-bottom: 1px;
}

.input-group input {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 50%; /* Ширина кнопки */
  padding: 10px;
  background-color: #007bff; /* Голубой цвет кнопки */
  color: #ffffff; /* Белый текст */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
  margin-left: 145px;
}
.input-group input::placeholder {
  color: #c2bfbf; /* Цвет текста placeholder */
}

button:hover {
  background-color: #0056b3; /* Темнее при наведении */
}

.consent-text {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 20px;
}

.auth-container p {
  text-align: center;
  margin-top: 20px;
}

.auth-container a {
  color: #5cb85c;
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
}

.error-message {
  color: #d9534f;
  text-align: center;
  margin-bottom: 20px;
}