.wishlist-container-custom {
  background-color: #f1f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-custom {
  font-size: 50px;
  margin-top: 20px;
  margin-left: 20px;
}

.title-1-custom {
  font-size: 20px;
  font-family: "DM Serif Display", serif;
  margin: 15px auto 10px;
  width: 100%;
}

.wishlist-card-custom {
  background-color: #d1edf8;
  box-shadow: 0px 2px 4px rgba(53, 22, 22, 0.4);
  padding: 30px;
  border-radius: 15px;
  width: 800px;
  height: 800px;
}

.back-arrow-custom a {
  text-decoration: none;
  color: #b1abab;
}

.back-arrow-custom a:hover {
  text-decoration: underline;
}

#gift-price-custom {
  width: 75%;
  float: left;
}

.currency-select {
  float: left;
  margin-left: 15px;
  height: 40px; 
}

.currency-input {
  overflow: hidden;
}

.image-input-custom {
  width: 220px;
  height: 180px;
  margin-bottom: 65px;
  line-height: 40px;
  text-align: center; 
  border-radius: 10px;
}

.link-input-custom {
  padding-left: 10px;
}

.link-input-custom input {
  justify-content: center;
  width: calc(100% - 30px);
  gap: 100px;
  border-radius: 10px;
}

#gift-name-custom {
  width: 380px; 
  border-radius: 10px;
}

#gift-link-custom {
  margin-bottom: 35px;
}

.rounded-input-custom {
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 50px;
  font-family: "DM Serif Display", serif;
}

.input-group-1 {
  display: flex;
  gap: 60px;
  margin-left: 10px;
}

.rounded-input-custom,
.link-input-custom input {
  padding-left: 8px;
}

.rounded-textarea-custom {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 100px;
  padding: 10px;
  border-color: #dad7d7;
  font-family: "DM Serif Display", serif;
}

.rounded-input::placeholder,
.rounded-textarea::placeholder,
.rounded-input-custom::placeholder,
.rounded-textarea-custom::placeholder,
.file-input-text {
  color: #c2bfbf;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 18px;
}

.save-button-custom {
  margin-top: 30px;
  margin-right: 50px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  float: right;
}

.save-button-custom:hover {
  background-color: #4294ec;
}

.right-column {
  margin-top: 20px;
}

.required-field-note {
  margin-top: 15px;
  font-size: 16px;
  font-family: "DM Serif Display", serif;
  color: #555;
}

.required-icon {
  color: #777474;
  font-size: 16px;
  vertical-align: middle;
}
