/*------------------ Блок майн-------------------- */
.pink-box {
    background-color: #fccbd2; /* Pink color */
    border-radius: 15px;
    padding: 40px; /* Increased padding */
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    align-items: center; /* Horizontally center the elements */
    margin: 100px auto; /* Horizontally centered */
    max-width: 1400px; /* Max width */
  }
  
  .title {
    color: black;
  
    font-family: "Prata", serif;
    font-size: 40px;
    margin-bottom: 40px;
  }
  
  .columns-container {
    display: flex;
    width: 100%;
    gap: 20px; /* Add gap between columns */
  }
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
  }
  
  .white-rectangle-text {
    background-color: white;
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Padding for text */
    margin-top: 10px; /* Margin between image and text */
    text-align: left; /* Center align text */
    font-size: 20px;
    font-family: "Prata", serif;
  }
  
  .bottom-white-rectangle {
    background-color: white;
    height: 100px; /* Height of bottom white rectangle */
    border-radius: 15px; /* Rounded corners */
  }
  
  .purple-box {
    background-color: #d1b0f0; /* Lighter purple color */
    border-radius: 15px;
    padding: 40px; /* Increased padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px; /* Increased height */
    margin: 100px auto; /* Центрирование по горизонтали */
    max-width: 1400px; /* Максимальная ширина блока */
  }
  
  .content-left {
    width: 60%;
    margin-left: 20px;
  }
  
  .content-left h2 {
    color: black;
  
    font-family: "Prata", serif;
    font-size: 42px;
    margin-bottom: 80px;
  }
  
  .content-left p {
    color: black;
    font-family: "Prata";
    font-size: 23px;
    margin-bottom: 40px;
  }
  
  .content-left button {
    background-color: #8a2be2;
    color: white; /* Lighter purple color */
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin-top: 50px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3); /* Увеличиваем тень при наведении */
    font-family: "DM Serif Display", serif;
  }
  .content-left button:hover {
    background-color: #6a1b9a;
  }
  .content-right {
    width: 50%;
    text-align: right;
  }
  
  .content-right img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
  }
  .section {
    padding: 0px 0px 80px;
  }
  /* ----------------------------------------------- */
  