.pink-box {
  background-color: #fccbd2;
  border-radius: 15px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  max-width: 1400px;
}

.title {
  color: black;
  font-family: "Prata", serif;
  font-size: 40px;
  margin-bottom: 40px;
}

.columns-container {
  display: flex;
  width: 100%;
  gap: 20px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}

img {
  width: 100%;
  border-radius: 10px;
}

.white-rectangle-text {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
  font-family: "Prata", serif;
}

.bottom-white-rectangle {
  background-color: white;
  height: 100px;
  border-radius: 15px;
}

.purple-box {
  background-color: #d1b0f0;
  border-radius: 15px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  margin: 100px auto;
  max-width: 1400px;
}

.content-left {
  width: 60%;
  margin-left: 20px;
}

.content-left h2 {
  color: black;
  font-family: "Prata", serif;
  font-size: 42px;
  margin-bottom: 80px;
}

.content-left p {
  color: black;
  font-family: "Prata";
  font-size: 23px;
  margin-bottom: 40px;
}

.content-left button {
  background-color: #8a2be2;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  margin-top: 50px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  font-family: "DM Serif Display", serif;
}

.content-left button:hover {
  background-color: #6a1b9a;
}

.content-right {
  width: 50%;
  text-align: right;
}

.content-right img {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
}

.section {
  padding: 0px 0px 80px;
}

/* Media Queries for Tablets */
@media (max-width: 1024px) {
  .purple-box, .pink-box {
    flex-direction: column;
    height: auto;
  }

  .content-left {
    width: 100%;
    margin-left: 0;
  }

  .content-left h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .content-left p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .content-left button {
    width: 100%;
  }

  .content-right {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .content-right img {
    max-width: 80%;
  }

  .columns-container {
    flex-direction: column;
  }
}

/* Media Queries for Smartphones */
@media (max-width: 768px) {
  .pink-box {
    padding: 20px;
  }

  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .columns-container {
    gap: 10px;
  }

  .image-container {
    margin-bottom: 20px;
  }

  .white-rectangle-text {
    font-size: 18px;
    padding: 8px;
  }

  .purple-box {
    padding: 20px;
  }

  .content-left h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .content-left p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .content-left button {
    padding: 15px;
    font-size: 18px;
    margin-top: 30px;
  }

  .content-right img {
    max-width: 100%;
  }

  .bottom-white-rectangle {
    height: 80px;
  }
}

