.share-wishlist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f1f8ff;
  padding: 4% 8% 4% 8%;
}

.share-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.share-header {
  background-color: rgba(255, 255, 255, 0);
  margin-left: 10px;
  font-family: "DM Serif Display", serif;
}
.share-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  width: 100%;
}

.share-event-date {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.days-left-container {
  display: flex;
  align-items: flex-start;
}

.date {
  font-size: 24px;
  margin-right: 20px;
}

.days-left {
  font-size: 14px;
  color: white;
}

.share-title {
  font-size: 50px;
  font-weight: bold;
}

.share-description {
  margin-top: 10px;
  font-size: 26px;
  padding-bottom: 10px;
}

.sort-options {
  margin-bottom: 10px;
}

.share-gift-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: left;
}

.share-card {
  width: 480px;
  height: 280px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "DM Serif Display", serif;
}

.share-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.share-card-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.share-card-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.share-gift-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
}

.share-gift-image-placeholder {
  font-size: 7em;
  color: #ccc;
  width: 100%;
  text-align: left;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-go-to-store {
  margin-top: 10px;
  font-size: 20px;
  color: #49baf9;
  text-decoration: none;
  position: absolute;
  line-height: 0;
  top: 220px;
  width: 100%; 
}

.share-card-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.share-card-title {
  font-size: 25px;
  text-align: left;
  margin-bottom: 10px;
}

.share-card-price {
  font-size: 20px;
  color: #078ed6;
  margin-bottom: 10px;
  white-space: nowrap;
}

.share-card-comment {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: left;
}

.share-reserve-button {
  background-color: #49baf9;
  color: white;
  border: none;
  cursor: pointer;
  padding: 24px;
  text-align: center;
  font-size: 26px;
  position: absolute;
  line-height: 0;
  top: 210px;
  width: 260px; 
  font-family: "DM Serif Display", serif;
}

.share-reserve-button.reserved {
  background-color: grey;
}

@media (max-width: 768px) {
  .share-header {
    left: 0;
    width: 100%;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .share-content {
    padding-top: 100px;
  }

  .share-card {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .share-header {
    margin-top: 20px;
  }

  .share-content {
    padding-top: 50px;
  }

  .share-card {
    flex: 1 1 100%;
  }
}
