.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #F1F8FF;
    background-size: contain; 
    
    background-position: center;
  
  }
  
  
  .dashboard-header {
    width: 100%;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    position: fixed; 
    top: 134px; 
    left: 200px;
  }
  
  .user-icon {
    width: 100px;
    height: 100px;
    background-image: url('/src/img/avatarDefault.png');
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .username {
    font-weight: bold;
  }
  
 
.wishlist-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-wishlists {
  font-size: 18px;
  margin-bottom: 10px; 
  position: fixed; 
    top: 260px; 
    left: 205px;
}

.create-wishlist-button {
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #49BAF9;
  background-color: #F1F8FF; 
  border: 1px solid #49BAF9 ;
  border-radius: 10px;
  cursor: pointer;
  position: fixed; 
    top: 250px; 
    left: 342px;
}

  
  .dashboard-content {
    padding-top: 140px; 
    width: 100%;
    max-width: 800px; 
    margin: auto;
    padding: 20px;
  }
  