.dashboard-in-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f1f8ff;
  background-size: contain;
  background-position: center;
  padding-right: 20px;
  padding-bottom: 100px;
}

.dashboard-header-in-account {
  margin: 10px;
  display: flex;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
}

.user-profile-in-account {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: fixed;
  top: 134px;
  left: 200px;
}

.user-icon-in-account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-image: url("../../../src/img/avatar.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 10px;
  z-index: 2;
}

.username-in-account {
  font-weight: bold;
  order: 1;
  margin-bottom: 10px;
}

.wishlist-section-in-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-wishlists-in-account {
  font-size: 18px;
  margin-bottom: 10px;
  position: fixed;
  top: 317px;
  left: 185px;
  margin: 10px;
  font-weight: bold;
  z-index: 3;
}

.create-wishlist-button-in-account {
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #49baf9;
  background-color: #f1f8ff;
  border: 1px solid #49baf9;
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  top: 350px;
  left: 163px;
  margin: 10px;
}
.create-wishlist-button-in-account:hover {
  background-color: #49baf9;
  color: #ffffff;
}
.dashboard-content-in-account {
  max-width: 800px;
  margin: 10px auto;
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
}
.AliceCarousel {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.wishlist-card-in-account {
  padding-top: 20px;
  max-width: 170px;
  min-height: 170px;
  margin-bottom: 14px;
  bottom: 20px;
  margin-right: auto;
  margin-top: 100px;
  font-size: 12px;
  background-color: white;
  margin: 0 5px;
}

.add-gift-in-card-button-in-account {
  margin-top: 10px;
  background-color: #49baf9;
  color: white;
  font-size: 12px;
}

.event-date-in-account {
  position: row;
  z-index: 2;
  bottom: 50px;
  left: 5px;
  color: #000000;
}

.time-left-text-in-account {
  position: static;
  margin: 0;
  margin-top: 5px;
  bottom: 0;
  right: 5px;
  background-color: white;
  color: rgb(172, 64, 10);
  line-height: 50px;
  text-align: left;
}
.time-left-button-in-account:hover {
  background-color: white;
  color: black;
}

.delete-button-in-account {
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #95abb8;
  background-color: #f1f8ff;
  border: 1px solid #f1f8ff;
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  top: 280px;
  left: 195px;
  max-width: 146px;
  text-align: left;
}
.delete-button-in-account:hover {
  background-color: #f1f8ff;
  color: #5c6c75;
}

.modal-in-account {
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-in-account {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close-button-in-account {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button-in-account:hover,
.close-button-in-account:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.delete-account-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #f1f8ff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-account-button:hover {
  background-color: #0056b3;
}

@media (max-width: 375px) {
  .dashboard-in-account,
  .user-profile-in-account,
  .wishlist-section-in-account {
    flex-direction: column;
    align-items: center;
  }
  .create-wishlist-button-in-account,
  .delete-button-in-account {
    position: static;
    margin: 10px auto;
  }
  .wishlist-card-in-account {
    max-width: 100%;
  }

  .AliceCarousel {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .dashboard-in-account,
  .user-profile-in-account,
  .wishlist-section-in-account {
    flex-direction: column;
    align-items: center;
  }
  .create-wishlist-button-in-account,
  .delete-button-in-account {
    position: static;
    margin: 10px auto;
  }
  .wishlist-card-in-account {
    max-width: 100%;
  }

  .AliceCarousel {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .dashboard-in-account {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    left: 10px;
    width: auto;
  }

  .AliceCarousel {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .dashboard-in-account {
    flex-direction: column;
    align-items: center;
  }

  .AliceCarousel {
    width: 90%;
  }
}
