body {
  font-family: Arial, sans-serif; 
  font-weight: 400; 
  text-align: justify;
  letter-spacing: 0.5px; 
  background-color: #f1f8ff;
  font-family: "DM Serif Display", serif; 
}

.about-page {
  padding: 8% 17% 0 17%;
}

.sub-title {
  font-size: 17px;
}

.paragraph {
  font-size: 14px;
  line-height: 1.75;
  padding-top: 20px;
  padding-bottom: 80px;
  font-family: Georgia, serif;
}

.paragraph-first {
  font-size: 20px; 
  line-height: 1.75;
}
/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
  .about-page {
    padding: 8% 5% 0 5%;
  }

  .sub-title {
    font-size: 15px;
  }

  .paragraph {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .paragraph-first {
    font-size: 18px;
  }
}

/* Медиазапрос для очень маленьких устройств (например, телефонов) */
@media (max-width: 480px) {
  .about-page {
    padding: 8% 3% 0 3%;
  }

  .sub-title {
    font-size: 14px;
  }

  .paragraph {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .paragraph-first {
    font-size: 16px;
    margin-top: 3%;
    margin-bottom: 5%;
    line-height: 1.2;
  }
}