body {
  font-family: Arial, sans-serif; /* Изменен шрифт на более читаемый */
  font-weight: 400; /* Увеличена толщина шрифта */
  text-align: justify;
  letter-spacing: 0.5px; /* Уменьшено расстояние между буквами для лучшей читаемости */
  background-color: #f1f8ff;
  font-family: "DM Serif Display", serif; /* Если этот шрифт все же нужен */
}

.about-page {
  padding: 8% 17% 0 17%;
}

.sub-title {
  font-size: 40px;
}

.paragraph {
  font-size: 26px; /* Увеличен размер шрифта */
  line-height: 1.75; /* Увеличено межстрочное расстояние для улучшения читаемости */
  padding-top: 20px;
  padding-bottom: 80px;
  font-family: Georgia, serif; /* Изменен шрифт на более читаемый */
}

.paragraph-first {
  font-size: 30px; /* Увеличен размер шрифта */
  line-height: 1.75;
}
