body{
    font-family: Manrope, sans-serif;
    font-weight: 500;
    text-align: justify;
    letter-spacing: 1px;
    background-color: #F1F8FF;
    font-family: "DM Serif Display", serif;

}
.about-page {
    padding: 8%  17% 0 17%;
    
  }
  
  .sub-title {
    font-size: 40px;
  }
  
  .paragraph {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 80px;

  }  
  .paragraph-first {
    font-size: 28px;
    line-height: 1.5;
    padding-bottom: 90px;
  }  