
/* Стили для контейнера no-page-found */
.no-page-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Центрирование текста */
  min-height: 94vh;
}

/* Стили для заголовка h2 */
h2 {
  font-size: 3rem; /* Устанавливаем крупный размер шрифта */
  padding-bottom: 1%;
}

p{
  padding-bottom: 1%;
}

/* Стили для контента */
.content {
  margin-top: 20px; /* Отступ сверху */
}