.header {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
  background-image: url("./../../img/Photo01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  height: 1400px;
}

.header__wrapper {
  margin-left: 100px;
  max-width: 100%;
  text-align: left;
}
.header__wrapper * {
  margin: 0;
}

.header__title {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  color: white;
  font-family: "DM Serif Display", serif;
}

.header__title strong {
  font-size: 100px;
}

.header__title em {
  font-style: normal;
  color: white;
}

.header__text {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 1.333;
  color: white;
  font-family: "DM Serif Display", serif;
}

.header__text p + p {
  margin-top: 0.5em;
}

.create_list_button {
  background-color: #ad286b;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Курсор при наведении */
  transition: box-shadow 0.3s ease;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  width: 60%;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .header {
    height: 100%; /* Изменено на auto */
    padding: 20px; 
    text-align: center; /* Добавлено */
  }
  
  .header__wrapper {
    margin-left: 20px; /* Уменьшено для мобильной версии */
    margin-right: 20px; /* Уменьшено для мобильной версии */
  }

  .header__title {
    font-size: 36px; /* Уменьшено для мобильной версии */
    margin-top: 70%; /* Уменьшено для мобильной версии */
  }

  .header__title strong {
    font-size: 42px; /* Уменьшено для мобильной версии */
  }

  .header__text {
    font-size: 18px; /* Уменьшено для мобильной версии */
    margin-bottom: 20px; /* Уменьшено для мобильной версии */
  }

  .create_list_button {
    padding: 10px 30px; /* Уменьшено для мобильной версии */
    font-size: 16px; /* Уменьшено для мобильной версии */
    width: 80%; /* Изменено для мобильной версии */
  }
}

@media (max-width: 480px) {
  .header {
    height: auto;
    padding: 20px; 
    text-align: center; /* Добавлено */
  }

  .header__title {
    margin-top: 80%;
    font-size: 24px; /* Уменьшено для мобильной версии */
  }

  .header__title strong {
    font-size: 28px; /* Уменьшено для мобильной версии */
  }

  .header__text {
    font-size: 14px; /* Уменьшено для мобильной версии */
    margin-bottom: 15px; /* Уменьшено для мобильной версии */
  }

  .create_list_button {
    padding: 8px 25px; /* Уменьшено для мобильной версии */
    font-size: 14px; /* Уменьшено для мобильной версии */
    width: 90%; /* Изменено для мобильной версии */
  }
}
