.footer {
  padding: 15px 100px;
  background-color: #b6cbd4;
  color: #000000;
  margin-top: 180px;
  width: 100%;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github_logo {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.footer__left {
  list-style-type: none;
}

.footer__right {
  list-style-type: none;
  display: flex;
  margin-left: auto; /* Перемещаем в самый правый край */
}

.social__item {
  margin-left: 10px;
}

.privacyPolicy {
  margin-right: 40px;
}


@media (max-width: 768px) {
  .footer {
    padding: 10px 15px;
    font-size: 10px;
  }
  .privacyPolicy {
    margin-right: 20px;
  }
  .github_logo img {
    width: 30px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px;
    font-size: 8px;
    margin-top: 90px;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__right {
    margin-left: 0; /* Добавлен отступ между элементами */
    margin-top: 5px;
  }
  .social__item {
    margin-left: 0;
  }
  .github_logo {
    margin-top: 5px;
    margin-left: 0;
  }
  .github_logo img {
    width: 15px; 
  }
}

