.footer {
  padding: 15px 100px 15px 100px;
  background-color: #b6cbd4;
  color: #000000;
  margin-top: 180px;
  width: 100%;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github_logo {
  list-style-type: none;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.footer__left {
  list-style-type: none;
}

.footer__right {
  margin-left: 30px;
  list-style-type: none;
  display: flex;
}

.privacy-policy {
  margin-right: 40px;
}
