.footer {
	
	padding: 10px 15px 5px;
	background-color: #b6cbd4;
	color: #000000;
	margin-top: auto;
	width: 100%;
  }
 
  .footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }

  .github_logo{
	list-style-type: none;
	margin-right: 20px;
  display: flex; /* Добавляем свойство flex */
  align-items: center; /* Выравниваем элементы по вертикали */
}
  
  
  .footer__left {
	list-style-type: none;

  }
  
  .footer__right {
	margin-left: 30px;
	list-style-type: none;
	display: flex; /* Добавляем свойство flex для управления распределением элементов */
  }
  
  
  
  .privacy-policy{
	margin-right: 40px;
  }

