.wishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f1f8ff;
}

.wishlistHeader {
  margin-top: 90px;
  width: 85%;
  background-color: rgba(255, 255, 255, 0);
}

.wishlistProfile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.goToWishlists {
  font-size: 14px;
  color: #49baf9;
  margin-bottom: 10px;
}

.wishlistButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  gap: 10px;
}

.wishlistName {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
  font-family: "DM Serif Display", serif;
}

.wishlistComment {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  font-family: "DM Serif Display", serif;
}

.addWlButton,
.deleteWlButton,
.shareButton {
  background-color: #49baf9;
  color: white;
  border: none;
  cursor: pointer;
  width: 120px;
  margin-bottom: 10px;
}

.deleteWlButton {
  width: 30px;
  height: 24px;
  font-size: 1px;
}

.deleteWlConfirmButton {
  background-color: #49baf9;
  color: white;
}

.addWlButton:hover,
.deleteWlButton:hover,
.shareButton:hover {
  background-color: #0077b6;
}

.wishlistContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 100px;
  width: 87%;
  padding: 0 20px;
}

.giftCard {
  width: 390px;
  height: 220px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.giftContent {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.giftBody {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.giftLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  flex-shrink: 0;
  gap: 50px;
}

.giftRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.giftImage,
.giftImagePlaceholder {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 1px;
  color: #ccc;
}

.giftGoToStore {
  display: flex;
  align-items: center;
  
  font-size: 20px;
  color: #49baf9;
  text-decoration: none;
  font-family: "DM Serif Display", serif;
}

.giftCardTitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "DM Serif Display", serif;
  text-align: left;
  width: 100%;
}

.giftCardPrice {
  font-size: 20px;
  color: #078ed6;
  margin-bottom: 10px;
  white-space: nowrap;
  font-family: "DM Serif Display", serif;
}

.giftCardComment {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  font-family: "DM Serif Display", serif;
}

.arrowIconW {
  width: 10%;
  margin-left: 5px;
}

.tooltipContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyLink {
  background-color: #49baf9;
}

@media (max-width: 1280px){
  .wishlistHeader {
    margin-top: 80px;
    left: 10px;   
  }

  .wishlistContent {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }

  .giftCard {
    width: 100%;
    margin: 10px 0;
  }
  
}
@media (max-width: 1024px){
  .wishlistHeader {
    margin-top: 80px;
    left: 10px;
    
  }

  .wishlistContent {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    width:auto;

  }

  .giftCard {
    width: 100%;
    margin: 10px 0;
  }
  
}
@media (max-width: 860px){
  .wishlistHeader {
    margin-top: 80px;
    left: 10px;
    
  }

  .wishlistContent {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
  }

  .giftCard {
    width: 100%;
    margin: 10px 0;
  }
  
}

@media (max-width: 768px) {
  .wishlistHeader {
    margin-top: 80px;
    left: 10px;
    
  }

  .wishlistContent {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }

  .giftCard {
    width: 100%;
    margin: 10px 0;
  }

  .giftLeft {
    margin-right: 20px;
  }

  .giftRight {
    align-items: flex-start;
  }

  .addWlButton,
  .deleteWlButton,
  .shareButton {
    width: 100px;
  }

  .wishlistSection {
    align-items: center;
  }

  .giftGoToStore {
    font-size: 12px;
  }

  .giftCardTitle {
    font-size: 18px;
  }

  .giftCardPrice {
    font-size: 14px;
  }

  .giftCardComment {
    font-size: 12px;
  }

  .wishlistName {
    font-size: 24px;
  }

  .deleteWlButton {
    margin-top: 0;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .wishlistHeader {
    margin-top: 50px;
    left: 10px;
   
  }

  .wishlistContent {
    margin-top: 10px;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }

  .giftCard {
    width: 100%;
    margin: 10px 0;
  }

  .giftLeft {
    margin-right: 20px;
  }

  .giftRight {
    align-items: flex-start;
  }

  .addWlButton,
  .deleteWlButton,
  .shareButton {
    width: 100px;
  }

  .wishlistSection {
    align-items: center;
  }

  .giftGoToStore {
    font-size: 12px;
  }

  .giftCardTitle {
    font-size: 18px;
  }

  .giftCardPrice {
    font-size: 14px;
  }

  .giftCardComment {
    font-size: 12px;
  }

  .wishlistName {
    font-size: 24px;
  }

  .deleteWlButton {
    margin-top: 0;
    margin-left: 10px;
  }
}

@media (max-width: 350px) {
  .wishlistHeader {
    margin-top: 45px;
    left: 5px;
    width: auto;
  }

  .wishlistContent {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }

  .giftCard {
    width: 100%;
    margin: 10px 0;
  }

  .giftLeft {
    margin-right: 10px;
  }

  .giftRight {
    align-items: flex-start;
  }

  .addWlButton,
  .deleteWlButton,
  .shareButton {
    width: 130px;
  }

  .wishlistSection {
    align-items: center;
  }

  .giftGoToStore {
    font-size: 10px;
  }

  .giftCardTitle {
    font-size: 16px;
  }

  .giftCardPrice {
    font-size: 12px;
  }

  .giftCardComment {
    font-size: 10px;
  }

  .wishlistName {
    font-size: 20px;
  }

  .deleteWlButton {
    margin-top: 0;
    margin-left: 5px;
  }
}