.wishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f1f8ff;
}

.wishlist-header {
  margin-top: 100px;
  width: 300px; /* Увеличено для размещения всех элементов */
  background-color: rgba(255, 255, 255, 0);
  position:absolute;
  z-index: 1000;
  left: 200px;
}

.wishlist-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.go-to-wishlists {
  font-size: 12px;
  color: #49baf9;
  margin-bottom: 10px;
}

.wishlist-name {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
  font-family: "DM Serif Display", serif;
  width: 100%;
}

.wishlist-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-wl-button,
.delete-wl-button,
.share-button {
  background-color: #49baf9;
  color: white;
  border: none;
  cursor: pointer;
  width: 120px;
  margin-bottom: 10px;
}

.delete-wl-button {
  margin-top: 10px;
  margin-left: 20px;
  width: 30px; /* Уменьшен размер кнопки удаления в два раза */
  height: 24px; /* Уменьшена высота кнопки удаления */
  font-size: 14px; /* Уменьшен размер текста */
}

.add-wl-button:hover,
.delete-wl-button:hover,
.share-button:hover {
  background-color: #0077b6;
}

.wishlist-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 280px;
}

.share-card {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.card-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  flex-shrink: 0; /* Предотвращает изменение размера изображения */
}

.card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1; /* Позволяет текстовым элементам занимать оставшееся пространство */
}

.share-gift-image,
.share-gift-image-placeholder {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.share-go-to-store {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #0077b6;
  text-decoration: none;
}

.share-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "DM Serif Display", serif;
}

.share-card-price {
  font-size: 16px;
  color: #49baf9;
  margin-bottom: 10px;
  white-space: nowrap; /* Предотвращает перенос текста */
}

.share-card-comment {
  font-size: 14px;
  margin-bottom: 10px;
}

.arrow-icon {
  margin-left: 5px;
}
.tooltip-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy-link{
  background-color: #49baf9;
}




