.wishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f1f8ff;
}

.wishlist-header {
  margin-top: 100px;
  width: 170px;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  z-index: 1000;
  left: 200px;
}

.wishlist-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.wishlist-name {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
  font-family: "DM Serif Display", serif;
}

.wishlist-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.go-to-wishlists {
  font-size: 12px;
  color: #49baf9;
  
}

.add-wl-button,
.delete-wl-button,
.share-button {
  background-color: #49baf9;
  color: white;
  border: none;
  cursor: pointer;
  width: 120px;
  margin-bottom: 10px;
}

.add-wl-button:hover,
.delete-wl-button:hover,
.share-button:hover {
  background-color: #0077b6;
}

.wishlist-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
}

.share-card {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: row; /* Изменено на row для горизонтального выравнивания */
  align-items: center;
}

.card-left,
.card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Выравнивание текста по левому краю */
}

.card-left {
  margin-right: 10px; /* Добавлено расстояние между изображением и текстом */
}

.share-gift-image,
.share-gift-image-placeholder {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.share-go-to-store {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Изменено на margin-top для отступа сверху */
  font-size: 14px;
  color: #0077b6;
  text-decoration: none;
}

.share-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "DM Serif Display", serif;
}

.share-card-price {
  font-size: 16px;
  color: #49baf9;
  margin-bottom: 10px;
}

.share-card-comment {
  font-size: 14px;
  margin-bottom: 10px;
}

.arrow-icon {
  margin-left: 5px;
}




