.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #F1F8FF;
}

.dashboard-header {
  margin: 10px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.user-profile {
  display: flex;
  align-items: center;
  position: fixed;
  top: 134px;
  left: 200px;
}

.username {
  font-weight: bold;
  font-size: 24px;
  margin-right: 20px;
}

.wishlist-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-to-wishlist {
  font-size: 18px;
  margin-bottom: 10px;
  color: #49BAF9;
}

.add-wl-button, .delete-wl-button, .share-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #49BAF9;
  color: white;
  border: none;
  cursor: pointer;
}

.add-wl-button:hover, .delete-wl-button:hover, .share-button:hover {
  background-color: #007bff;
}

.dashboard-content {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gift-image {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
}

.wishlist-card-in {
  width: 300px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: normal;
}

.wishlist-card-in img {
  width: 100%;
  height: auto;
}

.modal {
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
