.wishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f1f8ff;
}

.wishlist-header {
  margin-top: 100px;
  width: 300px; 
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 150px;
}

.wishlist-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.go-to-wishlists {
  font-size: 14px;
  color: #49baf9;
  margin-bottom: 10px;
}

.wishlist-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
  font-family: "DM Serif Display", serif;
  width: 100%;
}

.wishlist-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.add-wl-button,
.delete-wl-button,
.share-button {
  background-color: #49baf9;
  color: white;
  border: none;
  cursor: pointer;
  width: 120px;
  margin-bottom: 10px;
}

.delete-wl-button {
  margin-top: 10px;
  margin-left: 20px;
  width: 30px;
  height: 24px;
  font-size: 1px;
}

.add-wl-button:hover,
.delete-wl-button:hover,
.share-button:hover {
  background-color: #0077b6;
}

.wishlist-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 330px;
  width:100% ;
 
 
}

.gift-card {
  width: 530px;
  height: 300px; /* Фиксированная высота карточки */
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gift-content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gift-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;

}

.gift-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
  flex-shrink: 0; 
  gap: 50px;
}

.gift-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.gift-image,
.gift-image-placeholder {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  color: #ccc;
}

.gift-go-to-store {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 20px;
  color: #49baf9;
  text-decoration: none;
}

.gift-card-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "DM Serif Display", serif;
  text-align: left; 
  width: 100%;
}

.gift-card-price {
  font-size: 20px;
  color: #078ed6;
  margin-bottom: 10px;
  white-space: nowrap;
}

.gift-card-comment {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left; 
  width: 100%;
}

.arrow-icon {
  margin-left: 5px;
}

.tooltip-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-link {
  background-color: #49baf9;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
  .wishlist-header {
    margin-top: 20px;
    left: 10px;
    width: auto;
  }

  .wishlist-content {
    margin-top: 100px;
  }

  .gift-card {
    width: 100%;
    margin: 10px 0;
  }

  .gift-left {
    margin-right: 20px;
  }

  .gift-right {
    align-items: flex-start;
  }

  .add-wl-button,
  .delete-wl-button,
  .share-button {
    width: 100px;
  }

  .wishlist-section {
    align-items: center;
  }

  .gift-go-to-store {
    font-size: 12px;
  }

  .gift-card-title {
    font-size: 18px;
  }

  .gift-card-price {
    font-size: 14px;
  }

  .gift-card-comment {
    font-size: 12px;
  }

  .wishlist-name {
    font-size: 24px;
  }

  .delete-wl-button {
    margin-top: 0;
    margin-left: 10px;
  }
}









