@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import "./reset.css";   /*Импорт файлов сброса стилей */

.body {
  margin-top: 150px; 
  height: 800px;
}
/* -------------privacy-police------------ */

.privacy-police-text {
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: justify;
}

/*------------------createWishlist---------- */
.wishlist-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 14px;
  font-family: "DM Serif Display", serif;
}
.title {
  font-size: 30px;
  margin-top: 8px;
  margin-left: 15px;
}

.title-1 {
  font-size: 18px;
  margin-top: 30px;
  font-family: "DM Serif Display", serif;
}
.wishlist-card {
  background-color: #d1edf8;
  box-shadow: 0px 2px 4px rgba(53, 22, 22, 0.4);
  padding: 20px;
  border-radius: 15px;
  width: 600px;
}

.back-arrow a {
  text-decoration: none;
  color: #b1abab;
}

.back-arrow a:hover {
  text-decoration: underline;
}

.input-group {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  margin-left: 15px;
}
input:focus,
textarea:focus {
  outline: none;
}
label {
  display: block;
  margin-bottom: 5px;
}

.rounded-input {
  background-color: white;
  border: none;
  border-radius: 15px;
  font-family: "DM Serif Display", serif;
}

.rounded-textarea {
  background-color: white;
  border-radius: 5px;
  width: 94%;
  height: 150px;
  padding: 10px;
  border-color: #dad7d7;
  font-family: "DM Serif Display", serif;
}

.save-button {
  margin-top: 10px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 94%;
  height: 50px;
}

.save-button:hover {
  background-color: #4294ec;
}

/* -------------------------------------- */

/* ------------CreateGift---------------- */

.wishlist-container-custom {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.title-custom {
  font-size: 30px;
  margin-top: 8px;
  margin-left: 10px;
}

.title-1-custom {
  font-size: 20px;
  margin-top: 30px;
  font-family: "DM Serif Display", serif;
}

.wishlist-card-custom {
  background-color: #d1edf8;
  box-shadow: 0px 2px 4px rgba(53, 22, 22, 0.4);
  padding: 30px;
  border-radius: 15px;
  width: 1000px;
  height: 800px;
  
}

.back-arrow-custom a {
  text-decoration: none;
  color: #b1abab;
}

.back-arrow-custom a:hover {
  text-decoration: underline;
}

.input-group-custom {
  width: 100%;
  border-radius: 10px;
  
}
#gift-price-custom {
  width: 50%;
  float: left;
}

.currency-select {
  float: left;
  margin-left: 10px; /* Добавляем небольшой отступ между полем ввода цены и выпадающим списком */
  height: 40px; /* Выравниваем высоту выпадающего списка с высотой поля ввода цены */
}

.currency-input {
  overflow: hidden;
}

.link-input-custom {
  width: 100%;
}

.image-input-custom input {
  width: 200px;
  height: 200px;
  padding-top: 5px; /* Устанавливаем отступ сверху */
  line-height: 40px; /* Устанавливаем высоту линии равной высоте поля ввода */
  text-align: center; /* Выравниваем текст по центру */
}

.link-input-custom input {
  width: 100%;
  float: left; /* Выравниваем блок по левому краю */
}
.input-group-1{
  display: flex;
  justify-content: space-between;
  width: calc(100% - 50px);
  gap: 100px;
}

.link-preview-custom {
  width: 40%;
  float: right;
  margin-top: 10px;
}

.link-preview-custom img {
  width: 100%;
}
#gift-name-custom {
  width: 638px; /* Устанавливаем ширину поля на 90% */
}
#gift-link-custom{
  margin-bottom: 15px;
}
.rounded-input-custom {
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 40px;
  padding-left: 5px;
  font-family: "DM Serif Display", serif;
}

.rounded-input-custom::placeholder {
  color: #999999; /* Устанавливаем цвет текста placeholder'а */
}
.rounded-textarea-custom {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  padding: 10px;
  border-color: #dad7d7;
  font-family: "DM Serif Display", serif;
}

.save-button-custom {
  margin-top: 10px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width:200px;
  height: 50px;
  float: right;
}

.save-button-custom:hover {
  background-color: #4294ec;
}




/*-------------------------------------------  */
.project-instruction{
margin-top: 50px;

}
.container {
  margin: 0 auto; /* Размещение по центру */
  padding: 0 15px; /* Отступы */
  max-width: 1200px; /* Максимальная ширина */
  }
 




 

 
