.auth-container {
  width: 50%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.center {
  justify-content: center;
  display: flex;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.input-group input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #f7efef;
  border-radius: 4px;
}

.consent-text {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2891e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3788da;
}

.auth-container p {
  text-align: center;
  margin-top: 20px;
}

.auth-container a {
  color: #5cb85c;
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
}

.error-message {
  color: #d9534f;
  text-align: center;
  margin-bottom: 20px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 93vh;
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
  font-size: 20px;
  font-family: "DM Serif Display", serif;
  background-color: #f1f8ff;
}
.password-input input {
  box-sizing: border-box;
  padding-right: 37px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 6px;
  margin-right: 3px;
  transform: translateY(-50%);
  background: none;
  border: none;
}

@media (max-width: 375px) {
  .auth-container {
    width: 70%;
  }
  .eye-icon {
    display: none;
  }
}

@media (max-width: 425px) {
  .auth-container {
    width: 70%;
  }
  .eye-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .auth-container {
    width: 70%;
  }
  .eye-icon {
    display: none;
  }
}

@media (max-width: 1024px) {
  .auth-container {
    width: 80%;
  }
  .eye-icon {
    left: 90px;
  }
}