.auth-container {
  width: 50%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center {
  justify-content: center;
  display: flex;
}

.auth-container h2 {
  text-align: center;
  font-size: 20px; /* Default font size */
}

.input-group input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #f7efef;
  border-radius: 4px;
}

.consent-text {
  font-size: 0.8em;
  text-align: center;
  margin: 20px;
  max-width: 93%;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2891e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3788da;
}

.auth-container p {
  text-align: center;
  margin-top: 20px;
}

.auth-container a {
  color: #5cb85c;
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
}

.error-message {
  color: #d9534f;
  text-align: center;
  margin-bottom: 20px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 93vh;
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
  font-size: 20px;
  font-family: "DM Serif Display", serif;
  background-color: #f1f8ff;
}

.password-input input {
  box-sizing: border-box;
  padding-right: 37px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjusted to ensure it appears in the right place */
  transform: translateY(-50%);
  background: none;
  border: none;
}



@media (max-width: 1024px) {
  .auth-container {
    width: 80%; /* Adjusted width for tablet */
    margin: 0; /* Reduced margin */
    font-size: 20px; /* Reduced font size for tablet */
  }

  .auth-container h2 {
    font-size: 15px; /* Default font size for larger screens */
    margin-bottom: 20px; /* Default margin for larger screens */
  }

  .input-group input {
    padding: 10px; /* Default padding for larger screens */
  }

  .consent-text {
    font-size: 0.8em; /* Default font size for larger screens */
  }

  .eye-icon {
    right: 10px; /* Default position for eye icon */
  }
}
@media (max-width: 425px) {
  .auth-container {
    width: 90%; /* Adjusted width for mobile */
    padding: 20px;
    margin: 5px auto; /* Reduced margin */
    margin-top: 20px; /* Added margin-top for shifting form upwards */
    font-size: 10px; /* Reduced font size for mobile */
  }
  
  .auth-container h2 {
    font-size: 10px; /* Reduced font size for mobile */
    margin-bottom: 10px; /* Adjusted margin for mobile */
  }

 
  .consent-text {
    font-size: 0.7em; /* Further reduced font size for mobile */
  }

  .eye-icon {
    right: 10px;
  }


}

