.auth-container {
  width: 50%;
  max-width: 600px;
  background-color: #ffffff; /* Белый цвет формы */
  border-radius: 10px; /* Скругленные углы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.center{
  justify-content: center; /* Выравнивание по центру по горизонтали */
  display: flex;
}
  
  .auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 94%;
    padding: 10px;
    border: 1px solid #f7efef;
    border-radius: 4px;
  }
  
  .consent-text {
    font-size: 0.8em; 
    text-align: center;
    margin-bottom: 20px; 
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #2891e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3788da;
  }
  /* Стили текста под кнопкой */
  .auth-container p {
    text-align: center;
    margin-top: 20px;
  }
  
  .auth-container a {
    color: #5cb85c; /* Цвет ссылки такой же, как у кнопки */
    text-decoration: none;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }
  
  /* Стили сообщения об ошибке */
  .error-message {
    color: #d9534f; /* Красный цвет текста */
    text-align: center;
    margin-bottom: 20px;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 93vh; /* Занимает всю высоту видимой области страницы */
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    font-size: 20px;
    font-family: "DM Serif Display", serif;
    background-color: #d6f2fd; /* Голубой цвет фона страницы */
  }
  